/*Color palette: https://colorhunt.co/palette/181665 with this red? #921224 or #9d2503 */
a {
  transition:color 1s ease;
}

a:hover {
    background-color: var(--color-background-intense);
}

a:link {
    color: var(--color-contrast);
}

a:visited {
    color: var(--color-contrast);
}

#back-contents {
    text-align: right;
    font-size: 90%;
}

.background-intense {
    background-color: var(--color-background-intense);
}

body {
    background-color: var(--color-background);
    font-family: "Patrick Hand", cursive;
    font-size: 150%;
    margin: 10% auto 0 auto;
    max-width: 65%;
}

@media (max-width: 576px) {
    body {
        max-width: 85%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
    body {
        max-width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
    body {
        max-width: 65%;
  }
}

.bottom-container {
    background-color: var(--color-highlight);
    font-size: 60%;
    margin: 10% -26.9% 0 -26.9%;
    text-align: center;
}

.bottom-container-font {
    color: var(--color-background);
    margin: 0;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

@media (min-width: 1200px) {
    #catch-phrase {
        margin-left: 6%;
        padding-left: 40px;
    }
}

.centering {
    text-align: center;
    margin: 0;
}

#color-brown {
    color: var(--color-font-dark)
}

#color-orange {
    color: var(--color-contrast);
}

h1 {
    color: var(--color-highlight);
    font-size: 200%;
    text-align: center;
}

@media (max-width: 576px){
    h1 {
        padding-top: 10%;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
    h1 {
        padding-top: 7%;
  }
}

@media (min-width: 1200px) and (max-width: 2000px){
    h1 {
        margin-top: -6%;
        padding-top: 0;
  }
}

@media (min-width: 2000px){
    h1 {
        margin-top: -7%;
        padding-top: 0;
  }
}

h2 {
    text-align: center;
    color: var(--color-contrast);
}

h3 {
    color: var(--color-highlight);
    margin-bottom: 0;
}

@media (max-width: 576px) {
    h3 {
        padding-bottom: 4%;
  }
}

hr {
    background-color: none;
    border-style: none none dotted;
    color: var(--color-highlight);
    border-width: 5px;
    margin-bottom: 3%;
    padding-top: 5%;
    width: 30%;
    height: 0px;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    max-width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    img {
        padding: 40px;
    }
}

.img-center {
    border-radius: 50%;
    max-height: 60%;
    max-width: 60%;
}

@media (min-width: 992px) {
    .img-center {
        max-height: 75%;
        max-width: 75%;
  }
}

.img-circular {
    border-radius: 20%;    
    max-height: 100%;
    max-width: 100%;
}

@media (max-width: 768px) {
    .img-circular {
        margin: -5% auto -5% auto;
        max-height: 50%;
        max-width: 75%;
        padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .img-circular {
        margin: -5% auto -5% auto;
        max-height: 45%;
        max-width: 65%;
        padding: 0;
  }
}

.img-icon {
    border-radius: 50%;
}

@media (min-width: 576px) {
    .img-icon {
        max-height: 75%;
        max-width: 75%;
    }
}

.ingredients {
    text-align: left;
}

li {
    color: var(--color-font-dark);
}

@media (max-width: 768px) {
    li {
        padding-bottom: 1%;
  }
}


#Mathilde-website {
    color: var(--color-Mathilde);
    display: block;
    font-family: "Indie Flower";
    margin: 0;
    padding:0;
    position: relative;
}

.navbar-title {
    color: var(--color-highlight);
    font-family: "Patrick Hand";
    font-size: 130%;
}

p {
    color: var(--color-font-dark);
    margin: 0 auto 0 auto;
    max-width: 75%;
    padding: 5%;
}

@media (max-width: 576px) {
    p {
        margin: 0;
  }
}

@media (min-width: 1200px) {
    p {
        padding: 40px;
        margin: 0;
        max-width: 100%;
  }
}

.p-nomargin {
    margin: 0;
}

:root {
    --color-background: #f1e3cb;
    --color-background-intense: #eec57f;
    --color-contrast: #ee6525;
    --color-font-dark: #581c0c;
    --color-highlight: #921224;
    --color-Mathilde: #33e1c4;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    align-items: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 50% [col] 50% ;
    grid-template-rows: [row] auto [row] auto [row] auto [row];
}

.box {
    border-radius: 5px;
}

.a {
    grid-column: col;
    grid-row: row ;
}
.b {
    grid-column: col 2 ;
    grid-row: row ;
}
.c {
    grid-column: col 2 ;
    grid-row: row 2 ;
}
.d {
    grid-column: col ;
    grid-row: row 2 ;
}

@media (max-width: 1200px) {
    .a {
        grid-column: col / span 2;
        grid-row: row ;
    }
    .b {
        grid-column: col / span 2;
        grid-row: row 2 ;
    }
    .c {
        grid-column: col / span 2;
        grid-row: row 3 ;
    }
    .d {
        grid-column: col / span 2;
        grid-row: row 4;
    }
}
