a {
    transition: color 1s ease;
}

a:hover{
    background-color: var(--color-background-light);
}

a:link {
    color: var(--color-highlight);
}

a:visited {
    color: var(--color-contrast);
}

.background-bright {
    background-color: var(--color-background-intense);
}

body {
    background-color: var(--color-background);
    color: var(--color-font-dark);
    font-family: Roboto;
    font-size: 1.3em;
    line-height: 150%;
    margin: 0;
}

.bottom-container {
    background-color: var(--color-highlight);
    font-size: 60%;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.box-skills {
    margin: 3em auto;
    max-width: 50%;
}

@media (max-width: 576px) {
    .box-skills {
        max-width: 85%;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
    .box-skills {
        max-width: 75%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .box-skills {
        max-width: 65%;
  }
}

@media (max-width: 768px) {
    #cloud1 {
      display: none;
    }
}

#cloud1 {
    margin: 0;
    max-width: 15%;
    position: absolute;
    right: 15%;
    top: 20%;
}

@media (max-width: 768px) {
    #cloud2 {
      display: none;
    }
}

#cloud2 {
    bottom: 30%;
    left: 4%;
    margin: 0;
    max-width: 15%;
    position: absolute;
}

#first-subtitle {
    font-size: 1.3em;;
}

@media (max-width: 768px) {
    #first-subtitle {
        padding-bottom: 3%;
    }
}

#first-title {
    color: var(--color-highlight);
    font-family: "Indie Flower";
    font-size: 3em;
    margin: 0;
    padding-top: 3%;
}

@media (max-width: 768px) {
    #first-title {
        padding-bottom: 3%;
        padding-top: 12%;
    }
}

h2 {
    font-size: 175%;
    padding-bottom: 1.5%;
    padding-top: 3%;
    text-align: center;
}

@media (min-width: 2000px) {
    h2 {
        padding: 20px 0 20px 0;
    }
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    position: static;
}

@media (min-width: 2000px) {
    h3 {
        padding: 40px 0 0 0;
    }
}

hr {
    border-style: none none dotted;
    border-width: 7px;
    color: var(--color-highlight);
    height: 0;
    margin-bottom: 10%;
    padding-top: 7%;
    width: 30%;
}

@media (min-width: 992px) {
    hr {
        margin-bottom: 30px;
        padding-top: 30px;
    }
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    margin: auto;
}

.img-center-page {
    max-height: 50%;
    max-width: 55%;
}

@media (max-width: 992px) {
.img-center-page {
      max-width: 60%;
      max-height: 75%;
    }
}

.img-circular {
    border-radius: 50%;
}

.img-float-left {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    max-height: 24%;
    max-width: 34%;
}

@media (max-width: 992px) {
    .img-float-left {
        float: center;
        margin: 4% auto 4% auto;
        max-height: 70%;
        max-width: 75%;

    }
}

.image-legend {
    font-size: 50%;
    margin-top: 0;
    text-align: center;
}

li {
    list-style-position: inside;
}

.navbar-title {
    color: var(--color-highlight);
    font-family: "Indie Flower";
    font-size: 150%;
}

p {
    margin: auto;
    padding-bottom: 6%;
    max-width: 100%;
}

@media (min-width: 2000px) {
    p {
        padding: 0;
    }
}

.p-nopadding{
    padding-bottom: 0;
}

@media (min-width: 2000px) {
    .row {
        max-height: 200px;
    }
}

:root {
    --color-background: #edf3f2;
    --color-background-intense: #d9ebe8;
    --color-background-light: #ffffff;
    --color-contrast: #00856c;
    --color-font-dark: #222831;
    --color-highlight: #0dceae;
}

@media (max-width: 992px) {
    .text-float-right {
        clear: both;
    }
}

.text-float-left {
    clear: left;
    margin-left: 0;
    margin-right: auto;
    max-width: 100%;
}

#top-container {
    background-color: var(--color-background-intense);
    margin: 0;
    padding-top: 4%;
    position: relative;
    text-align: center;
}

#top-container-main-image {
    max-height: 22em;
    max-width: 90%; 
}

ul {
    margin-top: 0;
    padding-bottom: 7%;
}

@media (min-width: 2000px) {
    ul {
        padding: 0 0 40px 0;
    }
}

